@import "partials/base";

html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

$base-font-size: 19px;
$base-line-height: 28px;
@include establish-baseline;

h1 { @include adjust-font-size-to(41px) }
h2 { @include adjust-font-size-to(26px) }

a { }

input, select, textarea, button{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
  background: #fff;
  overflow-x: hidden;
}

  .header-wrapper {
    position: fixed;
    width: 100%;
  }

    @import "partials/header";
    @import "partials/settings-menu";


    .color-bar {
      height: 0px;
      background: $fl-yellow;

      &.open {
        height: 6px;
      }
    }

  .content-wrapper {
    padding-top: 70px;
    width: 100%;
  }

    @import "partials/grouping";