@import "partials/base";

html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

a { @include link-colors(#fff, #fff, #fff, #fff)}

input, select, textarea, button{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 19px;
  color: #333;
  background: #fff;
  overflow-x: hidden;
}

  @import "partials/settings-menu";

  .wrapper {
    width: 100%;
  }

  @import "partials/header";