@import "compass";
@import "compass/reset";
@import "../modules/utilities";

$fl-navy: #1a3c5b;
$fl-yellow: rgba(242,197,10,0.8);
$fl-turqoise: rgba(7,198,240,0.8);
$fl-green: rgba(0,220,63,0.8);

$fl-yellow-light: rgba(242,197,10,0.4);
$fl-turqoise-light: rgba(7,198,240,0.4);
$fl-green-light: rgba(0,220,63,0.4);

$link-color: #00aa89;

$border-color: #d9d9d9;
$main-border: 1px solid $border-color;

$menu-border-color: rgba(7,198,240,0.3);
$menu-border: 1px solid $menu-border-color;

html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

input, select, textarea, button{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}