.context-menu {
  position: fixed;
  display: none;
  border: $main-border;

  &.open {
    z-index:1000;
    display: block;
  }

  a {
    font-weight: normal;
    @include unstyled-link;
  }

  li {
    background: #fff;
    border-bottom: $main-border;
    padding: 12px 0 6px;
    cursor: pointer;

    &:hover { background: #eeeeee };

    &.last-of-type {
      border-bottom: none;
    }
  }

  i {
    display: inline-block;
    width: 30px;
  }
}

