.annotation-grouping {
  @include padding-leader;

  > * {
    padding-left: 24px;
    padding-right: 24px;
  }

  &:last-of-type {
    @include padding-trailer;
  }
}
  .grouping-label {
    border-bottom: $main-border;
    font-weight: bold;
    @include adjust-font-size-to(14px);
    @include margin-trailer;
  }