.host-grouping {
  &:first-of-type { @include padding-leader; }
  @include padding-trailer;
  @include clearfix;
  position: relative;

  > * {
    padding-left: 24px;
    padding-right: 24px;
  }
}
  .host-grouping-header {
    border-bottom: $main-border;
    @include margin-trailer;

    %grouping-text {
      @include adjust-font-size-to(14px);
      font-weight: bold;
    }

    h2 {
      @extend %grouping-text;
      display: inline-block;
    }
  }
    .host-count {
      @extend %grouping-text;
      float: right;
    }
    .host-favicon {
      height: 16px;
      display: inline-block;
      margin: 0 5px -3px 0;
    }
  .host-expand, .page-expand {
    background-color: #f4f4f4;
    width: 100%;
    @include clearfix;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    &:hover {
      background-color: #eeeeee;
    }
  }
  .host-grouping-column {
    float: left;
    width: 450px;
    @include respond-to(handhelds) { float: none; width: auto; }
  }
  .page-container {
    margin-bottom: 30px;
  }
    .page-header {
      margin-bottom: 14px;
    }
      .page-title {
        @include adjust-font-size-to(26px);
        font-weight: bold;
        color: $link-color;
        cursor: pointer;
      }

      .page-url {
        @include adjust-font-size-to(14px);
        $line-height-shift: 8px;
        margin-top: -$line-height-shift;
        padding-bottom: $line-height-shift;

        color: #9b9b9b;
      }

    .page-annotations {  }
      .annotation-card {
        padding: 12px 0;
        position: relative;
        background-color: $fl-turqoise-light;
        margin-bottom: 16px;
        cursor: pointer;

        @include box-shadow(rgba(0,0,0,0.2) 0px 2px 3px);

        &:hover {  background-color: $fl-turqoise;  }

        &.with-note {
          background-size: 14px 10px;
          background-image: image-url("message-pointer.svg");
          background-repeat: no-repeat;
          background-position: 24px 36px;
        }

        &.green {
          background-color: $fl-green-light;

          &:hover { background-color: $fl-green };
        }

        &.yellow {
          background-color: $fl-yellow-light;
          &:hover { background-color: $fl-yellow };
        }
      }
        .context-menu-button {
          position: absolute;
          padding: 0;
          top: 8px; right: 0px;
          width: 30px;
          height: 30px;
          background: image-url("temp_menu_icon.svg") no-repeat center;
          background-size: 5px 20px;
          z-index: 1;
          cursor: pointer;

          &:hover { background-color: rgba(0,0,0,0.05) }
        }
        .source-text {
          color: $fl-navy;
          font-weight: normal;
          text-decoration: none;
          padding: 0 20px;

          @include single-line-text;
        }
        .error-text {
          @extend .source-text;
          margin-top: 10px;
        }
        .annotation-text {
          background: #fff;
          padding: 16px 50px 16px 15px;
          border-left: 5px solid #eeeeee;
          margin-top: 10px;
          position: relative;
        }
          .edit-button {
            position: absolute;
            top: 10px; right: 5px;
            width: 30px;
            height: 30px;
            background: image-url("pencil-icon.svg") no-repeat center;
            background-size: 16px 16px;
            z-index: 1;
            cursor: pointer;

            &:hover { background-color: rgba(0,0,0,0.05) }
          }