header {
  height: 60px;
  border-bottom: $main-border;
  background: rgba(255,255,255,0.9);

  > * {
    height: 100%;
    margin: 0;
  }
}
  /* Logo */
  .fl-logo {
    border-right: $main-border;
    float: left;
    padding: 11px 20px;

    &:hover {  background: #eeeeee;  }
  }
  .fl-logo-svg {
    height: 38px;
  }

  /* Search bar */
  .fl-search {
    overflow: hidden;
    position: relative;
    background: image-url("search-icon.svg") no-repeat 22px center;
    background-size: 20px 20px;
  }
  .fl-search-input {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 1px 0 0 54px;
    background: none;

    &:focus {  outline: 0;  }
  }
  .fl-filter-icon-svg {
    height: 20px;
    position: absolute;
    right: 24px;
    top: 20px;
  }

  /* Settings button */
  .fl-settings-icon {
    width: 80px;
    float: right;
    border-left: $main-border;
    background: image-url("settings-icon.svg") no-repeat center;
    background-size: 20px 20px;

    &.open {
      background: image-url("settings-close-icon.svg") no-repeat center;
      background-size: 18px 18px;
    }

    &:hover {  background-color: #eeeeee;  }
  }