header {
  height: 60px;
  border-bottom: $main-border;
  background: rgba(255,255,255,0.9);

  > * {
    height: 100%;
    margin: 0;
  }

  @include respond-to(handhelds) { height: 50px; };
}
  /* Logo */
  .fl-logo {
    border-right: $main-border;
    float: left;
    width: 80px;
    background: image-url("icon.svg") no-repeat center;
    background-size: 38px;
    cursor: pointer;

    &:hover {  background-color: #eeeeee;  }

    @include respond-to(handhelds) {
      width: 60px;
      background-size: 32px;
    };
  }

  /* Search bar */
  .fl-search {
    overflow: hidden;
    position: relative;
    background: image-url("search-icon.svg") no-repeat 22px center;
    background-size: 20px 20px;
  }
  .fl-search-input {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 1px 0 0 54px;
    background: none;

    &:focus {  outline: 0;  }
  }
  .fl-filter-icon-svg {
    height: 20px;
    position: absolute;
    right: 24px;
    top: 20px;

    @include respond-to(handhelds) { top: 16px; display: none; };
  }

  /* Settings button */
  .fl-settings-icon {
    width: 80px;
    float: right;
    border-left: $main-border;
    background: image-url("settings-icon.svg") no-repeat center;
    background-size: 20px 20px;
    cursor: pointer;

    &.open {
      background: image-url("settings-close-icon.svg") no-repeat center;
      background-size: 18px 18px;
    }

    &:hover {  background-color: #eeeeee;  }

    @include respond-to(handhelds) { width: 50px };
  }