.settings-menu {
  height: 100vh;
  width: 0;
  z-index: 1;
  float: right;
  @include background(linear-gradient(90deg, #061826 0%, #061826 3%, $fl-navy 3%, $fl-navy 100%));

  @include transition(width 0.2s ease-in-out);

  &.open {  width: 250px;  }

  a {
    width: 100%;
    padding: 24px;
    border-bottom: $menu-border;
    display: block;
    text-decoration: none;

    &:hover {  background: $fl-turqoise;  }

    @include link-colors(#fff, #fff, #fff, #fff);
  }
}

  .settings-menu-options {  width: 300px;  }